{{/*
// --------------------------------------------------------------------
// about.tmpl -- About info.
//
// Created: 2018-09-23 DLB for Epic
// Copied:  2020-03-17 DLB for m1
//
// --------------------------------------------------------------------
*/}}

 <style>
    .content_area {min-height: 275px; } 
 </style>

<div class="content_area">

<div class="page_title">About this Web Site</div>

<div class="markdown">

<p>This website was developed as a personal project to help Dal
and Carol manage their accounting and provide easier ways to
keep up with all the receipts and reports they need to generate
for their various activies (Church, Robots, House Flipping, etc.)
</p>

<p>Writen by Dal during the Corona virus scare in March 2020 by coping
and hacking large parts of the Epic Part Number system (also writen
by Dal).
</p> 

</div>

</div>